input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor:pointer;
}
.input-beads{
  text-align: center;
  margin: 2px;
  width: 80px;
  margin: 2px;
  padding: 2px;
  
}
.button-donate {
  border-radius: 4px;
  background-color: #a5cf69;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 11px;
  width: 100px;
  height: 43px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-donate span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-donate span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -6px;
  transition: 0.5s;
}

.button-donate:hover span {
  padding-right: 18px;
}

.button-donate:hover span:after {
  opacity: 1;
  right: 0;
}