@import '../style/color.scss';

@mixin forM {
    @media (max-width: 576px) {
        @content;
    }
}
.VIPhome {
    position: relative;
    &.mobile {
        margin: 0 10px;
        width: 98%;
        overflow: scroll;
        overflow-y: hidden;
    }
    .classForm {
        position: fixed;
        left: calc(50% - 300px);
        top: 20%;
        z-index: 10000;
        @include forM {
            left: 5%;
            top: 15%;
        }
        .Card {
            .NotEdtingCardContent,
            .MuiCardContent-root {
                margin-top: 20px;
            }
            .levelSelector {
                display: flex;
                margin: 8px;
                .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-animated {
                    font-size: 14px;
                    margin-bottom: 5px;
                    margin-right: 30px;
                }
            }
            ul {
                margin-bottom: 20px;
                li {
                    margin-bottom: 20px;
                }
            }
            .AvatarIcon {
                background: $iconLabelOrange;
                &.green {
                    background: $color2;
                }
                &.yellow {
                    background: $color1;
                }
            }

            .closeBtn {
                background-color: #fff;
                position: absolute;
                right: 5px;
                top: 5px;
                cursor: pointer;
                z-index: 100;
                border-radius: 50%;
            }
            .MuiCardHeader-root {
                padding-bottom: 0;
            }
            .container {
                position: absolute;
                right: 56px;
                top: 26px;

                color: $color4;

                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                /* Create a custom checkbox */
                .checkmark {
                    position: absolute;
                    top: 5px;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                }
                /* On mouse-over, add a grey background color */
                &:hover input ~ .checkmark {
                    background-color: #ccc;
                }

                /* When the checkbox is checked, add a blue background */
                input:checked ~ .checkmark {
                    background-color: $color4;
                }

                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                    content: '';
                    position: absolute;
                    display: none;
                }

                /* Show the checkmark when checked */
                input:checked ~ .checkmark:after {
                    display: block;
                }

                /* Style the checkmark/indicator */
                .checkmark:after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
            .updateTools {
                position: absolute;

                right: 30px;
                top: 27px;
                button {
                    margin-right: 15px;
                }
            }
            .MuiCardActions-root {
                padding: 0 8px;
                position: relative;
                .MuiButtonBase-root {
                    position: absolute;
                    right: 1%;
                    bottom: 10%;
                }
            }
            .MuiCardContent-root {
                padding: 0 16px 0 8px;
                .ParticipantText {
                    margin-right: 20px;
                    display: flex;
                }
            }
            .makeStyles-card-623,
            .MuiPaper-root {
                min-width: 600px;

                padding: 10px;

                max-height: 480px;
                overflow: auto;
                padding-bottom: 0;
                &::-webkit-scrollbar {
                    display: none;
                }
                .EdtingCardContent {
                    overflow: hidden;
                }
            }
            .MuiCardHeader-action {
                flex: 0 0 auto;
                align-self: flex-start;
                margin-top: 18px;
                margin-right: -20px;
                cursor: default;
                &:hover {
                    pointer-events: none;
                }
            }
            .btnLineParent {
                display: block;
                .btnLine {
                    display: flex;
                    justify-content: flex-end;
                    .btnLineUnit {
                        margin-right: 5px;
                    }
                }
                margin-bottom: 10px;
            }
            .EdtingCardContent {
                width: 98%;
                .cardQuestion {
                    .QCols {
                        .QColsChild {
                            position: relative;
                            .QcolCloseBtn {
                                position: absolute;
                                top: 27px;
                                right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    .mask {
        display: none;
        &.cardActive {
            display: block;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
        }
    }
}
